@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: var(--font-montserrat);
}

.font-display {
  font-family: var(--font-display);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

